<h1>Student API Demo</h1>

<table class="table table-hover" id="student">
  <tr>
    <th>Student ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>Birthday</th>
    <th>Actions</th>
  </tr>
</table>

<button class="btn btn-large btn-primary" onclick="addStudent()">Add Student</button>
